<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div th:fragment="dashContent" >
<div th:if="${userDetails}"> 

<!-- SOMETHING USEFUL

<span th:text="${someObject.someProperty != null} ? ${someObject.someProperty} : 'null value!'">someValue</span>
<span th:text="${someObject.someProperty != null} ? ${someObject.someProperty}">someValue</span>
 -->

<p> Your User Details Are As Follows</p>

User Name:  <p th:text="${loggedInUser.email_ID}"></p>
Password :  <p th:text="${loggedInUser.password}"></p>

First Name: <p th:text="${userDetails.firstname}"> </p>
Last Name : <p th:text="${userDetails.lastname}"> </p>
Phone No  : <p th:text="${userDetails.phone}"> </p>

</div>

<!-- 



<div th:if="${userDetails.firstname == null}">
Caution: Your Details DO NOT exist!


    <div id="addUserDetailsForm" >
           <form class="form-horizontal" irole="form" th:action="@{/indexAction(actVal='addUserDetails')}" method="POST">
            
             <div class="form-group">
            	<div class="input-group">
       			<strong>Please Add Your Details:</strong>
       			</div>
       		
       		<input type="submit" class="form-control btn btn-info btn-block" value="Add Details"/>
       		
        	</div>
        	
       
        </form>
        
       </div>
       
     </div>
     
     
      -->
     

</div>


<div th:fragment="searchTxnContent" >
<div th:if="${successfulSearchTxn}" th:text="${successfulSearchTxn}"> </div>
</div>

<div th:fragment="newTxnContent" >
<div th:if="${successfulNewTxn}" th:text="${successfulNewTxn}"> </div>
</div>

<div th:fragment="reportsContent" >
<div th:if="${successfulReports}" th:text="${successfulReports}"> </div>
</div>

<div th:fragment="complianceSetContent" >
<div th:if="${successfulSetCompliance}" th:text="${successfulSetCompliance}"> </div>
</div>

<div th:fragment="exchangeRateContent" >
<div th:if="${successfulRates}" th:text="${successfulRates}"> </div>
</div>

<div th:fragment="userControlContent" >
<div th:if="${successfulUserCtrl}" th:text="${successfulUserCtrl}"> </div>
</div>

<div th:fragment="currentUserContent" >
<div th:if="${successfulcurUserCtrl}" th:text="${successfulcurUserCtrl}"> </div>
</div>

<div th:fragment="logoutContent" >
<div th:if="${successfulLogout}" th:text="${successfulLogout}"> </div>
</div>

</body>


</html>

