<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
     
</head>
<body>

<div th:fragment="newSearchFrag">

<div class="container">
		<div class="row">
					
		<div class="col-md-8 col-md-offset-2" id="searchPanel">
		

			
			<form role="form" th:action="@{/search}" th:object="${searchFormBean}" id="searchForm" method="GET">
						<fieldset>


					<div class="panel panel-default">
							<div class="panel-heading">
								<strong>Please search using one of the following criteria:</strong>
							</div>							
							</div><!-- PANEL DEFAULT ENDS -->
						
							<div class="form-group col-md-12">

							<div class="errorSpace">
							<strong><p th:if="${searchError}" th:text="${searchError}"></p></strong>
							</div>

							<div class="searchSuccessSpace">
							<strong><p th:if="${searchSuccess}" th:text="${searchSuccess}"></p></strong>
							</div>
												
					</div><!--  END OF COL DIV -->
					

												<div class="form-group col-md-12">													
													<label for="email">E-Mail: </label>
													<input type="email" class="form-control" id="email" name="search_email_id" th:field="*{senderEmail}"> </input>													
												</div>

												<div class="form-group col-md-12">
													<label for="phone">Phone: </label>
													<input type="text" class="form-control" id="phone" name="search_phone" th:field="*{primaryPhone}"></input>
												</div>

												<div class="form-group col-md-12">												
													<label for="firstName">First Name:  </label>
													<input type="text" class="form-control" id="firstName" name="search_firstName" th:field="*{firstName}"></input>
												</div>

												<div class="form-group col-md-12">
													<label for="lastName">Last Name: </label>
													<input type="text" class="form-control" id="lastName" name="search_lastName" th:field="*{lastName}"> </input>
												</div>

												<div class="form-group">
													<input type="submit"
														class="form-control btn btn-primary btn-block"
														value="SEARCH" />
												</div>

												<div class="form-group">
													<input type="reset"
														class="form-control btn btn-warning btn-block"
														value="CLEAR" />
												</div>

										
										

									</fieldset>
								</form>

							

						


				</div>
				<!-- searchPanel DIV ENDS -->
				</div>
				<!-- ROW DIV -->
				</div>
				<!-- CONTAINER DIV -->

</div>

</body>
</html>