<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en" th:replace="fragments/header :: header">
</head>

<!-- end of header -->


<body>
	<div id="indexPage">
		<div id="navDiv>">

			<div th:replace="fragments/navbar :: navbarMenu"></div>


		</div>
		<!-- end of nav bar -->


		<div class="app-container container">
		<div layout:fragment="content">

				<div class="dashboardSpace">
					<!--  <strong> <p th:if="${dashSuccess}" th:text="${dashSuccess}"></p> </strong>
         			<div th:if="${userInfo}"  th:replace="fragments/indexContent :: dashContent"></div>
         			 -->
					<div th:switch="${myDashSelector}">
						<div th:case="'dashSuccess'"
							th:replace="fragments/indexContent :: dashContent"></div>
					</div>
				</div>


				<div class="transactionsSpace">

					<div th:switch="${transactionSelector}">
						<div th:case='searchTxnSuccess'
							th:replace="fragments/indexContent :: searchTxnContent"></div>
						<div th:case='newTxnSuccess'
							th:replace="fragments/indexContent :: newTxnContent"></div>
						<!--  <div th:case="'editProfSuccess'"
							th:replace="fragments/indexContent :: editProfileContent"></div> -->
					</div>

				</div>


					<div class="reportsSpace">
					<div th:switch="${reportsSelector}">
						<div th:case='reportsSuccess'
							th:replace="fragments/indexContent :: reportsContent"></div>
						<!--  <div th:case="'editProfSuccess'"
							th:replace="fragments/indexContent :: editProfileContent"></div> -->
					</div>
					</div>
					
					<div class="adminControlSpace">
					<div th:switch="${reportsSelector}">
						<div th:case='reportsSuccess'
							th:replace="fragments/indexContent :: reportsContent"></div>
						<!--  <div th:case="'editProfSuccess'"
							th:replace="fragments/indexContent :: editProfileContent"></div> -->
					</div>
					</div>

		  <!-- <div th:if="${myDetSuccess}" th:replace="fragments/indexContent :: myDetailsContent"></div>
          <div th:if="${myProfSuccess}" th:replace="fragments/indexContent :: myDetailsContent"></div>
          <div th:if="${editProfSuccess}" th:replace="fragments/indexContent :: myDetailsContent"></div>
          
        
  -->



			</div>
		</div>


	</div>
</body>







</html>